.voronoi {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: linear-gradient(rgb(200, 125, 18), rgb(255, 123, 0));
  }

  .w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    background-image: linear-gradient(rgb(170, 200, 18), rgb(30, 0, 255));
  }

  .w3-container {
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    background-image: linear-gradient(rgb(200, 125, 18), rgb(255, 123, 0));
    height: 100%;
    margin-left: 200px;
  }